/* exportcountry.css */

  .export-container {
    width: 90%;
    margin: 4% auto;
    padding: 20px;
  }
  
  .export-heading {
    color: #587944;
    text-align: justify;
    font-family: "MPLUS1";
    font-size: 2.10vw;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */
  }
/*   
  .export-heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background-color: #3e7a35;
  } */
  
  .destinations-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }
  
  .destination-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .destination-name {
    color: #587944;
    text-align: justify;
    font-family: "CustomFont1";
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
  }
  
  .destination-card {
    width: 100%;
    overflow: hidden;
    /* border-radius: 10px; */
  }
  
  .destination-image {
    width: 100%;
    padding: 25%;
    background-repeat: no-repeat;
 /* border-radius: 10px; */
    transition: transform 0.3s ease;
  }
  
  .destination-card:hover .destination-image {
    transform: scale(1.05);
overflow: hidden;  
}
  
  .footer-text1 {
    color: #587944;
    text-align: justify;
    font-family: "CustomFont1";
    font-size: 1.667vw;
    font-style: italic;
    /* font-weight: 700; */
    /* line-height: 40px; 125% */
    text-align: end;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .destinations-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .destination-name{
      font-size: 4.50vw;
    }
  }
  
  @media screen and (max-width: 480px) {
    .destinations-grid {
      grid-template-columns: 1fr;
    }
    
    .export-heading {
      font-size: 22px;
    }
    
    .footer-text {
      text-align: center;
      padding-right: 0;
    }
  }