@font-face {
    font-family: 'CustomFont1';
    src: url('../../font/LouisGeorgeCafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MPLUS1';
    src: url('../../font/MPLUS1.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

/* Main container styles */
.rsg-container {
    background:linear-gradient(104deg, #92AA83 22.45%, #587944 93.68%);
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
  }
  .rsg-container1 {
    width: 90%;
    margin: auto;
  }

  
  /* Header styles */
  .rsg-header1 {
    color: #FFF;
    font-family: "MPLUS1";
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 600;
   margin: 0;
    text-transform: capitalize;
  }
  
  /* Text section styles */
  .rsg-text-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 48px;
}

  
  .rsg-paragraph {
    color: #FFF;
    text-align: justify;
    font-family: "CustomFont1";
    font-size: 1.2vw;
    width: 90%;
   
    padding: 3% 0;
    font-style: normal;
    font-weight: 500;
  }
  
  /* Grid container styles */
  .rsg-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 80px;
  }
  
  /* Grid item styles */
  .rsg-item-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }
  
  .rsg-image-container {
    position: relative;

    overflow: hidden;
 
  }
  
  .rsg-hover-main-text {
    color: #000;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'CustomFont1';
    margin: 0 0 8px 0;
    padding: 0;
  }
  
  .rsg-hover-sub-text {
    color: #000;
    padding: 0;
    font-size: 1.20vw;
    font-weight: 400;
    font-family: 'CustomFont1';
    margin: 0;
  }
  .rsg-image {
    width: 100%;

    object-fit: cover;
  }
  
  /* Overlay styles */
  .rsg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .rsg-overlay-visible {
    opacity: 1;
    cursor: pointer;
  }
  
  .rsg-hover-box {
    background-color: #FFF;
    padding: 20px;
    width: 80%;
    height: 60%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rsg-hover-text {
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    white-space: pre-line;
  }
  
  /* Title styles */
  .rsg-title-container {
    /* background-color: #5A7A64; */
   
    text-align: center;
    border-radius:0px 0px 15px 15px;
  }
  
  .rsg-title {
    color: #FFF;
    text-align: center;
    font-family: "MPLUS1";
    font-size: 1.5vw;
    font-style: normal;
    margin: 0;
    font-weight: 600;
    line-height: normal;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .rsg-text-container {
      grid-template-columns: 1fr;
    gap: 15px;
    }
    
    .rsg-grid-container {
      grid-template-columns: 1fr;
      margin-bottom: 15px;
      gap: 25px;
      
    }
    .rsg-container{
      padding: 20px;
    }
    .rsg-container1{
      padding: 10px;
    }
    
    .rsg-header1{
      font-size: 4.00vw;
    }
    .rsg-paragraph {
    font-size: 3.50vw;
    width: 100%;
    }
    .rsg-hover-main-text{
      font-size: 4.00vw;
    }
    .rsg-hover-sub-text{
font-size: 3.50vw;
    }
    .rsg-title{
      font-size: 4.00vw;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .rsg-grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }