.banner-container {
padding: 23%;
    background-image: url('../assets/Group13.png'); /* Add your banner image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.banner-btn {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.banner-btn:hover {
    background-color: #e65c00;
}
