@font-face {
  font-family: 'CustomFont1';
  src: url('../font/LouisGeorgeCafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p{
  margin: 0;
  padding: 0;
}
h1 h2 h3 h4 h5 h6{
  margin: 0;
  padding: 0;
}
.mainNavbar{
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 4;
}


.navbar {
  width: 95%;
  margin: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navbarImg {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarImg img {
  width: 85%;
}

.navbarItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.navbarItems a {
  text-decoration: none;
  font-size: 1.35vw;
  color: #000;
  text-align: center;
  font-family: "CustomFont1";
  font-weight: 400;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 100;
}

.bar {
  display: block;
  width: 6vw;
  height: 0.4vh;
  margin: 1vh 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.bar.active:nth-child(1) {
  transform: translateY(1.5vh) rotate(45deg);
}

.bar.active:nth-child(2) {
  opacity: 0;
}

.bar.active:nth-child(3) {
  transform: translateY(-1.5vh) rotate(-45deg);
}

.mobileMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 99;
}

.mobileMenu.active {
  transform: translateX(0);
}

.mobileNavItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 5vh;
}

.mobileNavItems a {
  text-decoration: none;
  color: black;
  font-size: 5vw;
  font-weight: 700;
  opacity: 0;
  transform: translateX(-2vw);
  animation: slideIn 0.5s ease forwards;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(67, 67, 70, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 98;
}

.menu-overlay.active {
  display: block;
  opacity: 1;
}
.navbarItems a.active,
.mobileNavItems a.active {
  color: #000;
  /* font-weight: 700; */
  border-bottom: 2px solid #000;
}

@keyframes slideIn {
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
      display: block;
      position: absolute;
      left: 2%;
  }

  .mobileMenu {
      display: block;
  }

  .navbarItems {
      display: none;
  }

  .navbarImg {
      width: 100%;
      justify-content: center;
  }

  .navbarImg img {
      width: 80%;
  }

  body.menu-open {
      overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  .bar {
      width: 7vw;
      height: 0.3vh;
  }

  .mobileNavItems a {
      font-size: 6vw;
  }
}
